[Unit]
Description=Max Vol Volume Restore
Requires=lipstick.service
After=lipstick.service

[Service]
Type=simple
ExecStart=/usr/bin/invoker -s --type=silica-qt5 /usr/bin/harbour-maxvol --autostart

[Install]
WantedBy=post-user-session.target
